# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code or PyCharm project settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Logs
*.log

# Environment variables or sensitive data (if any)
.env
